<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="650851328603-6papse816s25nmqhg7tepj5p9oe2s9i8.apps.googleusercontent.com">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/todoapp.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/bootstrap/js/modal.js"></script>
    <script src="/modules/angular/angular.min.js"></script>
    <script src="/modules/angular-route/angular-route.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/services/credService.js"></script>
    <script src="/app/login/login-controller.js"></script>
    <script src="/app/register/register-controller.js"></script>
    <script src="/app/items/items-controller.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        function renderButton() {
            gapi.signin2.render('signin2', {
                'scope': 'profile email',
                'width': 'auto',
                'height': 25,
                'theme': 'dark',
                'onsuccess' : onGoogleLogin
            });
        }
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1715419558706580',
                xfbml      : true,
                version    : 'v2.6'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>

<body ng-app="app">
    <div ng-view>

    </div>
</body>
</html>