<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="650851328603-6papse816s25nmqhg7tepj5p9oe2s9i8.apps.googleusercontent.com">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/todoapp.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/bootstrap/js/modal.js"></script>
    <script src="/modules/angular/angular.min.js"></script>
    <script src="/modules/angular-route/angular-route.min.js"></script>
    <script src="/modules/angular-resource/angular-resource.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/services/credService.js"></script>
    <script src="/app/login/login-controller.js"></script>
    <script src="/app/register/register-controller.js"></script>
    <script src="/app/items/items-controller.js"></script>
    <script src="/app/items/items-directives.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="/app/login/login-services.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body ng-app="app">
    <div ng-view>
    </div>
</body>
</html>