<div class="container main-page col-md-6 form-container">
    <div class="form-group col-md-12">
        <div class="col-md-8">
            <h2> Items by Categories: {{category.userEmail}}</h2>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary"
                    data-toggle="modal" data-target="#categoryModal">Create Category</button>
        </div>
    </div>
</div>

<!-- Create Category Modal -->
<div id="categoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Category</h4>
            </div>
            <form name="addTileGroupgForm" role="form" novalidate ng-submit="createCategory()">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="required">Category Name</label>
                        <input name="category.name" type="text" class="form-control"
                               placeholder="Enter Category Name" required
                               ng-model="category.categoryName" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>