<div class="container main-page-items col-md-6 form-container">
    <div class="form-group col-md-12">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div class="col-md-10">
            <h2> Categories of: {{category.userEmails[0]}}</h2>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="categoryClick(null, {name : ''})"
                    data-toggle="modal" data-target="#categoryModal">Create Category</button>
        </div>
    </div>
    <div class="form-group col-md-12">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="cat in categories">
                    <td>{{cat._id}}</td>
                    <td>{{cat.name}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="categoryClick(cat._id, {name : cat.name})"
                                data-toggle="modal" data-target="#updateCategoryModal">
                            <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"> </i>
                        </button>
                        <button ng-click="categoryClick(cat._id)"
                                class="btn btn-danger" data-toggle="modal" data-target="#categoryDeleteModal">
                            <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<create-category/>
<update-category/>
<delete-category/>
