<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" href="/styles/todoapp.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/modules/angular/angular.min.js"></script>
    <script src="/app/items/items-controller.js"></script>
</head>
    <body ng-app="app">
        <div class="container main-page col-md-6 form-container" ng-controller="ItemsController">
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <h2> Items by Categories: </h2>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ng-click="createCategory()">Create Category</button>
                </div>
            </div>
        </div>
    </body>
</html>