<div class="container main-page-login col-md-3 form-container">
    <h2>Login</h2>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form ng-submit="loginUser()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="user.email" id="email" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="user.password" id="password" class="form-control" required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary"/>
            <a href="#register" class="btn btn-link">Register</a>
        </div>
    </form>
    <div class="form-group col-md-5">
        <div id="signin2"></div>
    </div>
    <div class="form-group col-md-7">
        <fb:login-button size="large" scope="email" onlogin="onFbLogin">
            Facebook Sign in
        </fb:login-button>
    </div>
</div>